APP_DATA_MODE=mock
STAGING_DATABASE_URL=mysql://amassadminmysqlsym:z2ZY2W%40DQdpY4dcxpq@amass-staging-mysql-sym-01.mysql.database.azure.com:3306/sym
PRODUCTION_DATABASE_URL=mysql://amass-scm-user:afosDK9LO9RKb6UwkH@amass-production-mysql-scm-01.mysql.database.azure.com:3306/scm
DEFAULT_SERVER_TARGET=staging
MYSQL_CONNECT_TIMEOUT_MS=5000
MYSQL_SSL_ENABLED=true
MYSQL_SSL_CA_PATH=
